@model bmi_kcal.Models.ResultBMI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ResultBMI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResultBMIValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultBMIValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultBMIName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultBMIName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Growth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Growth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResultBMIID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
