<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Michał Dwojak</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Fonts/fontawesome-free-5.2.0-web/css/all.css" rel="stylesheet" />

</head>
<body class="bg1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.mdwojak.pl/">
            <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            mdwojak.pl
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Główna strona<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bmi", "Home")">Zobacz kalorykę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Kcal", "Home")">Zobacz kalorykę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Statistics", "Home")">Statystki</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()


    </div>
    <!-- Footer -->
    <footer class="footer">
       
        <span class="text-muted">
            &copy; @DateTime.Now.Year - Dwojak Michał. 
            <a href='@Url.Action("Policy", "Home")'>Polityka prywatności</a>

        </span>    
       
    </footer>

    <!-- Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
